<% layout("layouts/boilerplate.ejs") %>

<!-- Background Image -->
<div class="home-bg"></div>

<!-- Content -->
<div class="home-overlay">
  <h1 class="display-3 fw-bold">Welcome to WanderLust</h1>
  <p class="lead">Unique homes & stays across the globe</p>
  <a href="/listings" class="btn edit-btn btn-lg mt-3">Explore Now</a>
</div>