<% layout("layouts/boilerplate.ejs") %>
<body>
      <br>
      <h3><b><i>WanderLust Stays & Suites</i></b></h3>
      <p class="text-muted">Handpicked homes & escapes for your next journey</p>
      <br>
    
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
      <% for(let listing of allListings){ %>
        <a href="/listings/<%= listing._id %>" class="listing-link">
    <div class="card col">
        <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem"/>
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <h5 class="card-title"><%= listing.title %></h5>
          <p class="card-text"> &#8377; <%= listing.price.toLocaleString("en-IN") %> / night <i class="tax-info">&nbsp; &nbsp; +18% GST</i></p>
          
        </div>
        <br>
      </div>
    </a>
    <% } %>
  </div>
</body>